.container
{
    max-width: 100%;
}
.mainContainerRow
{
    height: 100vh;
}
.sideBarpart
{
    padding-left: 0;
    background: #244093;
    color: white;
    transition: 1s;
    width:100%;
    transition-timing-function: ease-out;
    overflow:auto;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
} 

.nothing
{
    width: 0%;
}

.mainBarPart
{
    padding-top: 64px;
    
}